* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-width: 1250px;
  font-family: "Titillium Web";
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  outline: none;
  border: none;
  &:active {
    outline: none;
    border: none;
  }
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

.hero {
  background: #87509c;
  padding: 60px 0 145px 0;
  color: white;
}

.header {
  margin-bottom: 145px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__img {
    max-height: 100%;
  }
}
.menu {
  &__list {
    display: flex;

    margin: 0 -22.5px;
  }

  &__item {
    padding: 0 22.5px;
    &--active {
      padding: 0 5.5px;
      .menu__link {
        background-color: #643a79;
        padding: 10px 17px;
        border-radius: 5px;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.hero {
  &__row {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  &__hi {
    margin-bottom: 54px;
  }

  &__text {
    text-align: center;

    font-size: 42.2px;
    line-height: 48px;
    font-weight: 700;
    color: #f7f3ea;
  }
}
.button {
  &__item {
    background: #eb7d4b;
    color: inherit;
    border-radius: 5px;
    border-bottom: 4px solid #c76a3f;
    &:hover {
      background: #f86b2a;
      border-bottom: 4px solid #c56335;
    }
    &:active {
      background-color: gray;
      border-bottom: 4px solid #4e4b4a;
    }
  }
  &__text {
    padding: 28px 78px;

    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

.services {
  background-color: #17c2a4;
  padding: 119px 0 128px 0;
  color: #ffffff;
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 21px;
  }

  &__line {
    opacity: 0.14;
    background-color: #000000;
    margin-bottom: 23px;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -25px;
  }

  &__item {
    flex: 0 1 25%;
    padding: 0 25px;
  }
  .item {
    &__img {
      height: 126px;
      margin-bottom: 60px;
    }

    &__name {
      margin-bottom: 27px;
    }
  }
}

.title {
  &__text {
    font-size: 40px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }
}

.line {
  width: 87px;
  height: 4px;
}

.subtitle {
  &__text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.item {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pic {
    max-height: 100%;
  }
}

.name {
  &__text {
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: center;
    white-space: nowrap;
  }
}
.desc {
  &__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.team {
  padding: 119px 0 136px 0;
  background-color: #e7f1f8;
  color: #3c4761;
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
  }

  &__title {
    margin-bottom: 22px;
  }

  &__line {
    opacity: 0.74;
    background-color: #bdd1df;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    flex: 1 1 50%;
    padding: 0 15px;
  }

  &__item {
    flex: 1 1 25%;
  }

  .item {
    &__img {
      width: 200px;
      height: 200px;
      margin-bottom: 41px;
    }

    &__pic {
      width: 100%;
      height: 100%;
      background: #878787;
      border-radius: 50%;
    }

    &__name {
      .name__text {
        color: #27283d;
      }
      margin-bottom: 15px;
    }

    &__position {
      margin-bottom: 26px;
    }

    &__desc {
      margin-bottom: 10px;
    }
  }
}

.position {
  &__text {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #30bae7;
  }
}

.socials {
  &__list {
    display: flex;
    margin: 0 -6px;
  }

  &__icon {
    padding: 0 6px;
  }
}

.icon {
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #bdd1df;
  }
}

.skills {
  background: #ffffff;
  padding: 117px 0 122px 0;
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 21px;
  }

  &__line {
    margin-bottom: 23px;
    background-color: #dfe8ed;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1 1 25%;
  }
}

.item {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  &__round {
    width: 160px;
    height: 160px;
    background-color: #dfe8ed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--75 {
      background-image: linear-gradient(90deg, transparent 50%, #d74680 50%),
        linear-gradient(180deg, transparent 50%, #d74680 50%);
    }

    &--90 {
      background-image: linear-gradient(90deg, transparent 50%, #30bae7 50%),
        linear-gradient(234deg, transparent 50%, #30bae7 50%);
    }

    &--70 {
      background-image: linear-gradient(90deg, transparent 50%, #15c7a8 50%),
        linear-gradient(180-270/75 * 5deg, transparent 50%, #15c7a8 50%);
    }

    &--85 {
      background-image: linear-gradient(90deg, transparent 50%, #eb7d4b 50%),
        linear-gradient(180+270/75 * 10deg, transparent 50%, #eb7d4b 50%);
    }
  }

  &__place {
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.percent {
  &__text {
    font-size: 30px;
  }
}

.portfolio {
  background-color: #ffdd99;
  padding: 120px 0 109px 0;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
  }

  &__title {
    .title__text {
      color: #393939;
    }
    margin-bottom: 21px;
  }

  &__line {
    margin-bottom: 23px;
    background-color: #e5c37f;
  }

  &__subtitle {
    .subtitle__text {
      color: #393939;
    }
  }

  &__categories {
    margin-bottom: 62px;
  }

  &__works {
    margin-bottom: 100px;
  }

  &__button {
    .button__item {
      background-color: #17c2a4;
      border-bottom: 4px solid #15aa8f;
      &:hover {
        background-color: #13dbb7;
        border-bottom: 4px solid #19c2a3;
      }

      &:active {
        background-color: gray;
        border-bottom: 4px solid #4e4b4a;
      }

      .button__text {
        color: #ffffff;
      }
    }
  }
}

.categories {
  &__list {
    display: flex;
    margin: 0 -5px;
  }

  &__elem {
    padding: 0 5px;
    .elem__bg {
      width: 84px;
      height: 38px;
      background-color: rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .elem__inner {
      font-family: "Titillium Web";
      font-size: 18px;
      line-height: 19px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #393939;
    }
    &--active {
      .elem__bg {
        background-color: #fff;
      }
    }
  }
}

.apps {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  &__elem {
    flex: 1 1 50%;
    padding: 0 10px;
    .elem__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .elem__img {
      width: 510px;
      margin-bottom: 32px;
    }
    .elem__pic {
      max-width: 100%;
    }
    &:first-child,
    &:nth-child(2) {
      margin-bottom: 64px;
    }
    .name__text {
      font-size: 18px;
      line-height: 19px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #393939;
    }
  }
}

.say {
  background: #d74680;
  padding: 119px 0 128px 0;
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
  }

  &__title {
    .title__text {
      color: #ffffff;
    }
    margin-bottom: 21px;
  }

  &__line {
    opacity: 0.14;
    background-color: #000000;
    margin-bottom: 23px;
  }

  &__subtitle {
    .subtitle__text {
      color: #ffffff;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
  }

  &__item {
    flex: 0 0 50%;
    padding: 0 25px;
    .item__body {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
    .item__img {
      width: 96px;
      height: 96px;
      flex: 1 0 auto;
    }
    .item__pic {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: #787878;
    }
    .item__text {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 11px 0 0 48px;
      .opinion {
        margin-bottom: 28px;
        display: flex;
      }
      .opinion__text {
        flex: 1 1 auto;
        font-size: 21px;
        line-height: 31px;
        font-style: italic;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
      .name {
        margin-bottom: 9px;
        &__text {
          color: #ffffff;
        }
      }
      .position__text {
        font-size: 18px;
        line-height: 26px;
        color: #ffdd99;
      }
    }
    &:nth-child(2),
    &:first-child {
      margin-bottom: 147px;
    }
  }
}
.get {
  background: #3c5499;
  padding: 120px 0 115px 0;
  .container {
    max-width: 414+414+32px;
  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 76px;
  }

  &__title {
    margin-bottom: 21px;
    .title__text {
      color: #ffffff;
    }
  }

  &__line {
    margin-bottom: 23px;
    background-color: #273a71;
  }

  &__subtitle {
    .subtitle__text {
      color: #ffffff;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  &__name {
    flex: 1 1 50%;
    padding: 0 16px;
    height: 56px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    background-color: #273a71;
    font-family: "Titillium Web";
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 25px;
    &::placeholder {
      font-family: "Titillium Web";
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      color: #ffffff;
    }
    &:focus {
      box-shadow: 0px 0px 7px 0px #30bae7;
    }
  }

  &__email {
    flex: 1 1 50%;
    padding: 0 16px;
    height: 56px;
  }

  &__message {
    flex: 1 1 100%;
    padding: 0 16px;
    margin-top: 27px;
    margin-bottom: 59px;

    .get__inner {
      resize: none;
      padding-top: 24px;
    }
  }

  &__button {
    margin: 0 auto;

    .button__item {
      background-color: #30bae7;
      border-bottom: 4px solid #289ec4;
      &:hover {
        background-color: #1bc0f7;
        border-bottom: 4px solid #1699c5;
      }
      &:active {
        background-color: gray;
        border-bottom: 4px solid #4e4b4a;
      }
    }
    .button__text {
      color: #ffffff;
    }
  }
}

.footer {
  background: #344b8e;
  padding: 48px 0 41px 0;

  .container {
    max-width: 1440-251-251px;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &--active {
      .footer__link {
        color: #30bae7;
      }
    }
  }

  &__link {
    font-family: "Titillium Web";
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
